// img {
// //    position: absolute;
//    margin: auto;
//    top: -9999px;
//    bottom: -9999px;
//    left: -9999px;
//    right: -9999px;
// }
// .image-container {
//     overflow: hidden;
//     height: 700px;
//     width: 900px;
//     // position: relative;
// }


.image-page {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
}

.slide {
    transition-duration: 1s ease;
    opacity: 0;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.2);
}